/* Variables */
:root {
  // Core  ---------------------------------- */
  --container-width: 1600px;
  --single-col-width: 10%;

  // Fonts ---------------------------------- */
  --condensed-font: "Roboto Condensed", sans-serif;
  --heading-font: "Roboto Condensed", sans-serif;
  --body-font: "Roboto", sans-serif;
  --base-font: 18px;
  --x-small-font-size: 0.65rem;
  --small-font-size: 0.75rem;
  --medium-font-size: 1rem;
  --large-font-size: 1.2rem;
  --x-large-font-size: 1.5rem;
  --button-font-size: 1rem;

  // Sizes ---------------------------------- */
  --size-sm: 0.25rem;
  --size-md: 0.5rem;
  --size-lg: 0.75rem;
  --size-xlg: 1rem;
  --size-xxlg: 1.5rem;
  --size-xxxlg: 2rem;
  --size-xxxxlg: 2.5rem;
  --icon-size: 24px;

  // Colors ---------------------------------- */
  --body-background: var(--white);
  --body-foreground: var(--dark-gray);
  --accent-foreground: var(--white);
  --accent-background: #4ac3fa;
  --background: var(--near-black);
  --foreground: var(--off-white);
  --muted-foreground: var(--med-gray);
  --muted-foreground-hover: var(--light-gray);
  --focus-color: #ffb400;
  --primary-color: #00487b;
  --primary-text-color: #ffffff;
  --secondary-color: #1396d3;
  --secondary-text-color: #000000;
  --primary-background: linear-gradient(
    45deg,
    var(--lpb-blue),
    var(--lpb-dark-blue)
  );

  // Neutrals ---------------------------------- */
  --black: #181818;
  --white: #ffffff;
  --off-white: #f8f8f8;
  --light-gray: #efefef;
  --light-med-gray: #c6c6c6;
  --gray: #9f9f9f;
  --med-gray: #676767;
  --med-dark-gray: #323232;
  --dark-gray: #222222;
  --near-black: #1d1d1d;

  // Links / Buttons ---------------------------------- */
  --link-color: #1b8500;
  --link-color-hover: #25c000;
  --input-border: 3px dashed #efefef;
  --input-border-solid: 3px solid #efefef;
  --input-border-focus: 3px solid var(--focus-color);
  --input-border-active: 3px solid var(--secondary-color);
  --input-border-disabled: 3px solid var(--light-gray);
  --input-border-hover: 3px solid var(--primary-color);
  --input-border-radius: 8px;
  --input-border-transparent: 3px dashed transparent;
  --input-border-subtle: 3px dashed rgba(255, 255, 255, 0.1);

  // Transitions ---------------------------------- */
  --quick-transition: all ease 0.25s;
  --ease-transition: all ease 0.5s;

  // Shadows ---------------------------------- */
  --big-shadow: 0px 0px 36px 0px #000000;
  --small-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
}
